<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: Everything Announced at Riot&#8217;s League of Legends 10th Anniversary Celebration	</title>
	<atom:link href="https://demosoledad.pencidesign.net/soledad-game-news-two-sidebars/everything-announced-at-riots-league-of-legends-10th-anniversary-celebration/feed/" rel="self" type="application/rss+xml" />
	<link>https://demosoledad.pencidesign.net/soledad-game-news-two-sidebars/everything-announced-at-riots-league-of-legends-10th-anniversary-celebration/</link>
	<description>Multi-purpose WordPress Themes site</description>
	<lastBuildDate>Wed, 16 Oct 2019 02:26:50 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.7.2</generator>
</channel>
</rss>
